.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  font-size: 18px;
  line-height: 31px;
  color: #333;
  letter-spacing: 0px;
  margin-bottom: 0;
  font-family: 'Roboto-Regular';
}

.columns > div > .columns-img-col {
  order: 0;
  width: 73%;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns p {
  margin: 0;
}

.columns div > p:nth-of-type(1) {
  padding-bottom: 17px;
}

.columns .button-container a {
  font-size: 18px;
  background-color: #f78f35;
  color: #fff;
  padding: 9px 34px;
  display: inline-block;
  border-radius: 27px;
  text-align: center;
  border: 1px #f78f35 solid;
  transition: 0.3s;
  font-family: 'Roboto-Regular';
}

.columns .button-container a:hover {
  background-color: #f1f1f1 !important;
  color: #f78f35;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    width: 100%;
    order: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
  }
}

.section.columns-container.columns-wrapper {
  max-width: 1200px !important;
  margin: auto;
}
